nav {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    flex: 1;
}

nav a {
    font-size: 20px;
    color: #1e1e1e;
    text-decoration: none;
    display: inline-block;
    width: calc(100% / 5); /* Adjust the number based on the number of links */
}

nav a:hover {
    font-size: 20px;
    color: #1e1e1e;
    text-decoration: none;
}

#aboutMain{
    margin: 30px;
}
